#employees-app {
    height: 100vh;
    #sidebar-container {
        width: 15vw;
        background-color: #2b3955;
        color: #fff;
    }
    #main-container {
        background-color: #f4f6fd;
        width: 85vw;
        #body-container {
            margin: 2%;
            #header-banner-container {
                height: 11vh;
                background-color: #fff;
                border: 5px solid #eceff1;
            }
            #main-table-container {
                height: 72vh;
                background-color: #fff;
                margin-top: 2%;
                border: 5px solid #eceff1;
            }
        }
    }
}