#main-tbl-view {
    padding: 2%;
    height: 100%;
    position: relative;
    #tbl-actions {
        height: 6%;
    }
    #employees-tbl-container {
        height: 85%;
        width: 100%;
    }
}