#main-tbl-view {
    padding: 2%;
    height: 100%;
    #tbl-actions {
        height: 6%;
    }
    #employees-tbl-container {
        height: 85%;
    }
    #paging-container {
        height: 6%;
        margin-top: 1%;
    }
}