#single-range-employees {
    height: 100%;
    width: 100%;
    #emp-records-container {
        height: 90%;
        width: 100%;
        .emp-record {
            color: #2c3b57;
            .emp-item {
                font-size: 0.7em;
                padding-left: 0.8%;
            }
            #id-item {
                color: #6c9af9;
                font-size: 1.1em; 
            }
        }
    }
}