#single-range-employees {
    background-color: blueviolet;
    height: 100%;
    #emp-tbl-header {
        background-color: #4c6594;
        color: #d9dfe7;
        height: 10%;
        width: 100%;
        box-shadow: 0 0 2px 2px;
    }
    #emp-records-container {
        background-color: aqua;
        height: 90%;
    }
}