#side-bar {
    height: 100%;
    #org-brand-container {
        height: 7vh;
        background-color: #2760d8;
        #brand-icon {
            width: 70%;
        }
    }
    #options-container {
        
    }
}