.sidebar-item {
    border-top: 0.1px solid #777676;
    height: 6vh;
    .icon-container {
        width: 30%;
    }
    .sidebar-item-title {
        font-size: 0.8em;
        color: #e5e7f3;
    }
}