#paging-container {
    height: 6%;
    margin-top: 1%;
    color: #2a66e4;
    .paging-btns-container {
        margin-left: 5px;
        .paging-btn {
            width: 25px;
            text-align: center;
            border-radius: 5px;
        }
    }
}